<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bluemango.matchorganizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bluemango.matchorganizer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bluemango.matchorganizer.OrganizerActivity"
            android:label="@string/title_activity_organizer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.Info"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.GuideActivity"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerActivity"
            android:label="@string/title_activity_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.TournamentActivity"
            android:label="@string/title_activity_tournament"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.BoardActivity"
            android:label="@string/title_activity_board"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.LogActivity"
            android:label="@string/title_activity_log"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.AddPlayersActivity"
            android:label="@string/title_activity_add_players"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerSelectionV5Activity"
            android:label="@string/title_activity_player_selection_v5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.FlagActivity"
            android:label="@string/title_activity_flag"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.MatchBoardV5Activity"
            android:label="@string/title_activity_match_board_v5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.ConfirmDeleteActivity"
            android:label="@string/title_activity_confirm_delete"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerSelectionV3Activity"
            android:label="@string/title_activity_player_selection_v3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.MatchBoardV3Activity"
            android:label="@string/title_activity_match_board_v3" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerSelectionV6Activity"
            android:label="@string/title_activity_player_selection_v6" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.MatchBoardV6Activity"
            android:label="@string/title_activity_match_board_v6" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerSelectionV7Activity"
            android:label="@string/title_activity_player_selection_v7" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.MatchBoardV7Activity"
            android:label="@string/title_activity_match_board_v7" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.PlayerSelectionV11Activity"
            android:label="@string/title_activity_player_selection_v11" >
        </activity>
        <activity
            android:name="bluemango.matchorganizer.MatchBoardV11Activity"
            android:label="@string/title_activity_match_board_v11" >
        </activity>
    </application>

</manifest>
